<% @reviews.each do |review| %>
  <h2><%= link_to review.name, review_path(review) %></h2>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
<% end %>

<%= link_to "New restaurant", "/reviews/new" %>
